.typetester {
    display: block;
    font-size: 10pt;
    position: relative;
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
    border-bottom: 1px solid #fff;
    padding-top: 25px;
    padding-bottom: 50px
}

.testfont {
    /* background-color: none; */
    text-align: center;
    display: block;
    font-size: 12vw;
    line-height: 120%;
    border: none;
    height: auto;
    letter-spacing: 0;
    margin: 0;
    padding: 100px 0;
    width: -moz-calc(110%);
    width: -webkit-calc(110%);
    width: calc(110%);
    -moz-font-feature-settings: "dlig=1";
    -moz-font-feature-settings: "dlig";
    -ms-font-feature-settings: "dlig";
    -webkit-font-feature-settings: "dlig";
    /* font-feature-settings: "dlig" */
}

/*-----hides outline from focused elements-----*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

/*-----hides outline from typetester-div-----*/
[contenteditable="true"]:focus {
    outline: none;
}
